body{
	margin: 4%;

}

header{
  background: #b2b2b2;
}

h1{
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

h2{
  color: #000080;
  text-transform: uppercase;
}

section{
  background: #7f7f7f;
}

a{
  color: black;
  background: #c5c5c5;
}

aside{
  display: none;
}
